# register app to eureka
eureka:
  instance:
    prefer-ip-address: true
    hostname: eureka-0
  client:
    service-url:
      defaultZone: http://eureka-0.eureka-service.default.svc.cluster.local:8761/eureka


# no url for db connection we will be giving this in a manifest or a deployment file